<!--
Zeige ein bestimmtes Assesment an
-->
<div class="groupCard">
<!-- Zurück/Löschen Buttons-->
  <div class="row">
    <div class="col-sm-12">
      <p class="lead text-right">
        <%= link_to user_group_assessments_path(@user, @group), :title => "Zurück", :data => {:remote => true} do%>
        <span class="glyphicon glyphicon-th"></span>
        <% end %>
        <%= link_to user_group_assessment_path(@user, @group, @assessment), :title => "Test Löschen", :method => :delete, :data => {:confirm => "Damit gehen alle Messungen des Tests in dieser Studie verloren!\n\nSind Sie sicher?"} do %>
        <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </p>
    </div>
  </div>
<!-- Anzeigen des Namens-->
  <div class = "row">
    <div class="col-sm-12">
      <p class="lead text-center">
        <%= Test.find(@assessment.test_id).short_name %>
      </p>
    </div>
  </div>
<!-- Laden von measurement/index als partial-->
  <div class = "row">
    <div class="col-sm-12">
      <div id="table">
        <%= render 'measurements/index'%>
      </div>
    </div>
  </div>
</div>
