<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag '/stylesheets/myStyle.css', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body id="content">
<div class="container-fluid">
    <div class="jumbotron" id="accept">
      <div>
        <h1>Seminar: Incentives, Collective Intelligence and User-Generated-Content</h1>
        <h2>Christian-Albrechts-Universität zu Kiel</h2>
        <hr style="border: none; height: 2px; color: #3c3c3c; background-color: #3c3c3c;"/>
      </div>
      <div>
        <p>
          Hallo und herzlich willkommen auf Quizmos. <br>
          Vielen Dank für deine Teilnahme. <b>Bevor du beginnst, lies dir bitte die folgenden
          Anmerkungen durch.</b> <br> <br>

          <b>Anmerkungen:</b><br>
          Diese PLattform ist Teil einer Studie im Rahmen eines Seminars an der Christian-Albrechts-Universität zu Kiel.
          <br>

          Im ersten Schritt wird dein Alter und Geschlecht abgefragt. Diese Daten werden anonym
          behandelt und können nicht auf dich zurückgeführt werden. <br> <br>
          Daraufhin wirst du auf eine Übersichtsseite geleitet. Auf dieser Seite kannst du sechs verschiedene Quiz durchführen.<br/>
          <b>Wichtig:</b> Jedes Quiz ist <b>mehrfach</b> durchführbar und hat neue Fragen für dich parat.<br/>
          Die jeweiligen Quiz bestehen aus Fragen mit jeweils vier Antwortmöglichkeiten. <br> <br>
          Während des gesamten Quiz wird die Zurück-Funktion deines Browsers <b>nicht</b> unterstützt. <br> <br>
          Du kannst das Quiz jederzeit beenden und dich auch jederzeit über den Abmeldenbutton, oben rechts auf der Übersichtsseite, von der Plattform abmelden.<br/>
          Spiel einfach nur so lange du willst! Um das aktuelle Quiz zu beenden, verwende dafür bitte den Button „Quiz beenden“ oben rechts auf den Quizseiten. Solltest du das Browser-Fenster
          oder den Tab einfach schließen, gehen deine Daten leider verloren! <b>Daher bitte unbedingt den
          "Quiz beenden" Button verwenden.</b>
          Bei Anmerkungen kannst du uns gerne deine Meinung über den Feedback Button auf deiner Übersichtsseite mitteilen. Das Feedback wird natürlich auch anonym behandelt.<br> <br>
          Die Leitung des Seminars liegt bei Dr. Athanasios Mazarakis.
          Bei Fragen zu dieser Studie wende dich bitte an:<br>
          <a href="mailto:A.Mazarakis@zbw.eu">A.Mazarakis@zbw.eu</a>

        </p>
      </div>
      <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-default" onclick="showSecondPage()" style="width: 100%; font-size: 1.5em">Nächste Seite</button>
      </div>
    </div>
</div>

<script>

    function showSecondPage() {
        $('#accept').html("<%= escape_javascript render "secondPage"%>")
    }
</script>

</body>
</html>
