<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag '/stylesheets/myStyle.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '/stylesheets/introduction.css', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body id="content">
<div class="container-fluid">
    <div class="jumbotron" id="accept">
      <div>
        <h2>Seminar: Incentives, Collective Intelligence and User-Generated-Content</h2>
        <h3>Christian-Albrechts-Universität zu Kiel</h3>
        <hr style="border: none; height: 2px; color: #3c3c3c; background-color: #3c3c3c;"/>
      </div>
      <div>
        <p>
          Hallo und herzlich willkommen auf Quizmos. <br>
          Vielen Dank für deine Teilnahme. <b>Bevor du beginnst, lies dir bitte die folgenden
          Anmerkungen durch.</b> <br> <br>

          <b>Anmerkungen:</b><br>
          Diese Plattform ist Teil einer Studie im Rahmen eines Seminars an der Christian-Albrechts-Universität zu Kiel.
          <br>
          Im ersten Schritt wird dein Alter, Geschlecht und optional deine E-Mail-Adresse abgefragt. Diese Daten werden anonym
          behandelt und können nicht auf dich zurückgeführt werden. <br> <br>
          Daraufhin gelangst du auf eine Übersichtsseite. Auf dieser kannst du <b>oben links deinen persönlichen Anmeldecode</b> sehen, dir diesen per E-Mail zusenden, uns Feedback zusenden oder dich abmelden.<br/>
          Außerdem stehen dir auf dieser Seite sechs Quizzkategorie zur Verfügung. Das Auswählen einer Kategorie startet das zugehörige Quiz.<br/><br/>
          <b>Wichtig:</b> Jede Quizkategorie kann <b>mehrmals gespielt</b> werden.<br/><br/>
          Jede Frage hat vier Antwortmöglichkeiten, von der eine richtig ist. <br>
          Während eines Quiz wird die Zurück-Funktion deines Browsers <b>nicht</b> unterstützt. <br> <br>
          Du kannst ein Quiz jederzeit beenden. <b>Spiel einfach nur so lange du willst!</b> Um ein Quiz zu beenden,
          verwende bitte den Button „Quiz beenden“ oben rechts auf den Quizseiten. Solltest du das Browser-Fenster
          oder den Tab einfach schließen, gehen deine Daten leider verloren! <b>Daher bitte den
          "Quiz beenden" Button verwenden.</b> <br>
          Wir wünschen dir viel Spaß beim Quizzen und freuen uns über deine Teilnahme.<br/><br/>


          Die Leitung des Seminars liegt bei Dr. Athanasios Mazarakis.
          Bei Fragen zu dieser Studie wende dich bitte an:<br>
          <a href="mailto:A.Mazarakis@zbw.eu">A.Mazarakis@zbw.eu</a>
        </p>
      </div>
      <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-default" onclick="showSecondPage()" style="width: 100%;">Nächste Seite</button>
      </div>
    </div>
</div>

<script>

    function showSecondPage() {
        $('#accept').html("<%= escape_javascript render "secondPage"%>")
    }
</script>

</body>
</html>
