<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag '/stylesheets/myStyle.css', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body id="content">
<div class="container-fluid">
    <div class="jumbotron" id="accept">
      <div>
        <h1>Seminar: Incentives, Collective Intelligence and User-Generated-Content</h1>
        <h2>Christian-Albrechts-Universität zu Kiel</h2>
        <hr style="border: none; height: 2px; color: #3c3c3c; background-color: #3c3c3c;"/>
      </div>
      <div>
        <p>
          Hallo und herzlich willkommen zu diesem Quiz. <br>
          Vielen Dank für deine Teilnahme. <b>Bevor du beginnst, lies dir bitte die folgenden
          Anmerkungen durch.</b> <br> <br>

          <b>Anmerkungen:</b><br>
          Dieses Quiz ist Teil einer Studie im Rahmen eines Seminars an der Christian-Albrechts-Universität zu Kiel.
          <br>

          Im ersten Schritt wird dein Alter und Geschlecht abgefragt. Diese Daten werden anonym
          behandelt und können nicht auf dich zurückgeführt werden. <br> <br>

          Das Quiz besteht aus Fragen mit jeweils vier Antwortmöglichkeiten. <br> <br>

          Während des gesamten Quiz wird die Zurück-Funktion deines Browsers <b>nicht</b> unterstützt. <br> <br>

          Du kannst das Quiz jederzeit beenden. Spiel einfach nur so lange du willst! Um das Quiz zu beenden,
          verwende bitte den Button „Quiz beenden“ ganz unten auf der Seite. Solltest du das Browser-Fenster
          oder den Tab einfach schließen, gehen deine Daten leider verloren! <b>Daher bitte unbedingt den
          "Quiz beenden" Button verwenden.</b> <br> <br>

          Die Leitung des Seminars liegt bei Dr. Athanasios Mazarakis.
          Bei Fragen zu dieser Studie wende dich bitte an:<br>
          <a href="mailto:A.Mazarakis@zbw.eu">A.Mazarakis@zbw.eu</a>
        </p>
      </div>
      <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-default" onclick="showSecondPage()" style="width: 100%; font-size: 1.5em">Nächste Seite</button>
      </div>
    </div>
</div>

<script>

    function showSecondPage() {
        $('#accept').html("<%= escape_javascript render "secondPage"%>")
    }
</script>

</body>
</html>
