<% content_for :top do%>
    <p class="navbar-brand">Angemeldet als: <%= @student.name %></p>
    <div class = "navbar-right" style="padding-right: 15px">
      <form class="navbar-form" method="post" action="<%=url_for(:controller => "frontend", :action => "logout")%>">
        <%= token_tag nil %>
        <button type="submit" class="btn btn-lg btn-default">Abmelden</button>
      </form>
    </div>
<% end %>

<div style="font-size: 30px">Arbeitstitel Gruppe 1</div>