<div class="jumbotron">
  <h1><%= image_tag('Levumi-klein-blau.png', size: "120")%> Levumi  </h1>
  <h3>Zugang für Schülerinnen und Schüler</h3>
  <br/>
  <!--field for logincode-->
  <%= form_tag(url_for(:controller => 'frontend', :action => 'login'), :class => "form") do %>
      <p>
        Gebe hier bitte deinen Zugangscode ein:
      </p>
      <div class="form-group">
        <label class="sr-only" for="login">Code</label>
        <%= text_field_tag "login", nil, type: "text",:autocomplete => :off , class: "form-control", placeholder: "Zugangscode"%>
      </div>

      <%= submit_tag 'Anmelden', :class => "btn btn-primary" %>
  <% end %>
  <br/>
  <div id="test" style="font-size: 20px"></div>
  <button onclick="test()">Klick mich</button>
</div>

<script>
  function test() {
      var test = new Fingerprint().get();
      $('#test').html(test);
  }

  //F5 abschalten <- kein aktualisieren möglich
  $(window).keydown(function (event) {
      var key = event.charCode || event.keyCode;
      if (key == 116) {
          event.preventDefault();
      }});

</script>
