<h1 style='font-size:70px; font-weight: bold;' class='text-center'>Beispiel</h1>
<p style='font-family: fibel_nordregular; font-size:40px' class='text-center'>
  Welches ist die richtige Antwort? Klicke die richtige Antwort an.
</p>
<br/>
<br/>
<br/>
<div class='row text-center'>
  <div>
    <label class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'>Womit kann man auf der Straße fahren?</label>
  </div>
</div>
<br/>
<br/>
<br/>
<div class='row' id='rowButtons2' >
  <div class="col-lg-7 col-md-offset-3">
    <div class='col-lg-4 col-lg-offset-0' >
      <div class ='row'>
        <button id='button0' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('Hund')">Hund</button>
      </div>
    </div>
    <div class='col-lg-4 col-lg-offset-2' >
      <div class ='row'>
        <button id='button1' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('Auto')">Auto</button>
      </div>
    </div>
  </div>
</div>
<br/>
<div class='row' id='rowButtons2' >
  <div class="col-lg-7 col-md-offset-3">
    <div class='col-lg-4 col-lg-offset-0' >
      <div class ='row'>
        <button id='button2' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('Ohren')">Ohren</button>
      </div>
    </div>
    <div class='col-lg-4 col-lg-offset-2' >
      <div class ='row'>
        <button id='button3' style='font-size: 60px; font-family: fibel_nordregular;' type='button' class='btn btn-default btn-block' onclick="nextClicked('Fernseher')">Fernseher</button>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="col-lg-7 col-lg-offset-4">
  <div class='col-md-7'>
    <button id='next' type='button' class='btn btn-lg btn-primary btn-block' onclick="startTest()"><span style='font-size: 40px; font-family: fibel_nordregular;'>Jetzt starten!</span></button>
  </div>
</div>
<script>

    function nextClicked(answer) {
        alert("Ihre abgegebene Antwort wäre: " + answer)

    };

    function startTest() {
        nextItem();
    }

    $(window).keydown(function (event) {
        var key = event.charCode || event.keyCode;
        if (key == 116) {
            event.preventDefault();
        }});
</script>