</br></br></br></br></br></br>
<div class='text-center'>
  <p class='text-center'>
    <%if @student.group_type == 1||@student.group_type == 4||@student.group_type == 5%>
      <div class='row text-center'>
        <div>
          <label class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'>Du hast&nbsp</label>
          <label id='score' class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'></label>
          <label class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'>&nbspvon 20 Fragen richtig beantwortet.</label>
        </div>
      </div>
    <%else%>
      <div class='row text-center'>
        <div>
          <label class='control-label' style='font-size: 60px; font-family: fibel_nordregular;'>Vielen Dank für die Teilnahme.</label>
        </div>
      </div>
    <%end%>
  </p>
</div>
<br><br>
<br><br>
<div class='row text-center'>
  <div class='col-md-4 col-md-offset-4'>
    <button id='geschafft' type='button' class='btn btn-lg btn-primary btn-block'><span style='font-size: 40px'>Geschafft</span></button>
  </div>
</div>
<script>
  $('#geschafft').click(function(){
    window.location.replace(pathMainPage);
  });

  if(lastResults[currentStudent] == -1) {
      if(groupNumber=="2"||groupNumber=="4"){
          switch (testName) {

              case "Tiere&Pflanzen-Test":
                  if(achievementHash["a1"][0]!= "true") {
                      showBadge("a1");
                      achievementHash["a1"][0] =true;
                  }
                  break;
              case "Geographietest":
                  if(achievementHash["a4"][0]!= "true") {
                      showBadge("a4");
                      achievementHash["a4"][0] = true;
                  }
                  break;
              case "Geschichtstest":
                  break;
              case "Mathetest":
                  if(achievementHash["a11"][0]!= "true") {
                      showBadge("a11");
                      achievementHash["a11"][0] = true;
                  }
                  break;
              case "Sporttest":
                  if(achievementHash["a13"][0]!= "true") {
                      showBadge("a13");
                      achievementHash["a13"][0] = true;
                  }
                  break;
              case "Politiktest":
                  if(achievementHash["a21"][0]!= "true") {
                      showBadge("a21");
                      achievementHash["a21"][0] = true;
                  }
                  break;
              default:
                  if(achievementHash["a24"][0]!= "true") {
                      showBadge("a24");
                      achievementHash["a24"][0] = true;
                  }
                  break;
          }
      }

      var test = {"student": {"achievement": achievementHash}};
      $.ajax({
          method: 'PUT',
          url: "<%= user_group_student_path(@student.group.user, @student.group, @student)%>",
          data: test,
      });
  }

  //F5 abschalten <- kein aktualisieren möglich
  $(window).keydown(function (event) {
      var key = event.charCode || event.keyCode;
      if (key == 116) {
          event.preventDefault();
      }});
  $('#score').html(score);


  var mypoints = <%= raw @student.points%>
  var test = {"student": {"points": score + mypoints}};
  $.ajax({
      method: 'PUT',
      url: "<%= user_group_student_path(@student.group.user, @student.group, @student)%>",
      data: test,
  });
</script>