/*
small resolution smartphones, tablets
*/
.navbar {
  margin-bottom: 5px;
}
.myBadge {
  width: 50px;
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 991px)  {
  h1{
    font-size: 1.6em;
    margin-top: 7px;
    margin-bottom: 0px;
  }

  .myImg {
    width: 116px;
  }

  p{
    font-size: 1.4em;
  }
  .myP{
    font-size: 1.4em;
    text-align: center;
  }

  .secondColumn{
    background-color:lavender
  }

  .notice{
    font-size: 1.3em;
  }


  p {
    font-size: 1.8em;
  }
  .myInput {
    font-size: 1.5em;
    height: 1.9em;
    width: 100%;
  }
  button {
    font-size: 2em;
  }

}

/* Large desktop */
@media (min-width: 992px) and (max-width: 1339px) {
  .tdQuestion {
    text-align: right;
  }
  p {
    font-size: 1.4em;
  }

  h1{
    font-size: 1.6em;
    margin-top: 7px;
    margin-bottom: 0px;
  }

  .myP{
    font-size: 1.6em;
    text-align: center;
  }
  .myInput {
    font-size: 1.4em;
    height: 1.6em;
    width: 100%;
  }
  button {
    font-size: 1.4em;
  }
  table {
    border:1px solid black;
    font-size: 12px;
    margin-left: 1px;
    margin-right: 1px;
    width: auto
  }


  .myImg {
    width: 116px;
  }

  .secondColumn{
    margin-top:30px;
    text-align: center;
    background-color:lavender
  }

  .notice{
    font-size: 1.3em;
  }

  @media (max-height: 500px) {
    .myImg {
      width: 67px;
    }
    .myP{
      font-size: 1.2em;
      text-align: center;
    }
    h1{
      font-size: 1.3em;
      margin-top: 7px;
      margin-bottom: 0px;
    }
    button {
      padding: 5px 10px;
      line-height: 1.5;
      border-radius: 3px;
      font-size: 1.1em;
    }
    .myBadge {
      width: 30px;
    }
  }


}

/* Large desktop */
@media (min-width: 1340px) and (max-width: 1899px) {
  .tdQuestion {
    text-align: right;
  }

  p {
    font-size: 1.4em;
  }

  .myInput {
    font-size: 1.4em;
    height: 1.6em;
    width: 400px;
  }

  table {
    border:1px solid black;
    font-size: 0.9em;
    margin-left: 1px;
    margin-right: 1px;
    width: auto
  }
  .secondColumn{
    margin-top:30px;
    text-align: center;
    background-color:lavender
  }

  .notice{
    font-size: 1.3em;
  }




  @media (max-height: 759px) {
    .myImg {
      width: 80px;
    }
    .myP{
      font-size: 1.2em;
      text-align: center;
    }
    h1{
      font-size: 1.5em;
      margin-top: 7px;
      margin-bottom: 0px;
    }
    button {
      padding: 5px 10px;
      line-height: 1.5;
      border-radius: 3px;
      font-size: 1.1em;
    }
    .myBadge {
      width: 30px;
    }
  }

  @media (min-height: 760px) and (max-height: 1400px) {
    .myImg {
      width: 116px;
    }
    button {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;
    }
    .myP{
      font-size: 1.3em;
      text-align: center;
    }
    h1{
      font-size: 1.7em;
    }
    .myBadge {
      width: 35px;
    }
  }
}

/*full-HD and 2k resolution*/
@media (min-width: 1900px)  {
  .tdQuestion {
    text-align: right;
  }
  p {
    font-size: 1.8em;
  }
  .myP{
    font-size: 2.0em;
    text-align: center;
  }
  .myInput {
    font-size: 1.8em;
    height: 1.9em;
    width: 550px;
  }
  button {
    padding: 10px 16px;

    line-height: 1.3333333;
    border-radius: 6px;
  }
  .btn {
    font-size: 2.0em;
  }

  table {
    border:1px solid black;
    font-size: 1.2em;
    margin-left: 1px;
    margin-right: 1px;
    width: auto
  }

  .myImg {
    width: 200px;
  }

  .secondColumn{
    margin-top:30px;
    text-align: center;
    background-color:lavender
  }

  .notice{
    font-size: 1.3em;
  }
  h1{
    font-size: 2.3em;
  }

  @media (max-height: 1100px) {
    .myImg {
      width: 150px;
    }
    .myP{
      font-size: 1.6em;
      text-align: center;
    }
    h1{
      font-size: 1.8em;
    }
    .btn{
      font-size: 1.7em;
    }
    button {
      padding: 5px 10px;
      line-height: 1.5;
      border-radius: 3px;
      font-size: 1.1em;
    }
  }


}
