<p id="notice"><%= notice %></p>

<p>
  <strong>Feedbacktext:</strong>
  <%= @feedback.feedbacktext %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
