</br></br></br></br></br></br>
<div style="font-size:2.2em" align="center">Vielen Dank für das Beantworten der Fragen!</div>
<br><br>
<br><br>
<div id="directButton"></div>
<script>

    if(localStorage.getItem("logout")=="true"){
        localStorage.removeItem("logout");
        $('#directButton').html('<form class="form-group" method="post" ' +
            'action="<%=url_for(:controller => "frontend", :action => "logout")%>"><%= token_tag nil %> <div class="row text-center">'  +
            '<div class="col-md-4 col-md-offset-4"><button id ="logOutButton" type="submit" class="btn questButton btn-warning btn-block">' +
            'Abmelden</button></div></div> </form>')
    }
    else{

        $('#directButton').html("<div class='row text-center'><div class='col-md-4 col-md-offset-4'>" +
            "<button id='geschafft' type='button' class='btn questButton btn-primary btn-block'>Zur Übersichtsseite</button></div></div>")
    }
    $('#geschafft').click(function(){
        if(localStorage.getItem("logout")=="false")
            window.location.replace(pathMainPage);
    });

  var survey_done = {"student": {"survey_done": "true"}};
  $.ajax({
      method: 'PUT',
      url: "<%= user_group_student_path(@student.group.user, @student.group, @student)%>",
      data: survey_done,
  });

  //F5 abschalten <- kein aktualisieren möglich
  $(window).keydown(function (event) {
      var key = event.charCode || event.keyCode;
      if (key == 116) {
          event.preventDefault();
      }});

</script>