</br></br></br></br></br></br>
<div class='text-center'>
  <p class='text-center'>
    <%if @student.group_type == 1||@student.group_type == 4||@student.group_type == 5%>
      <div class='row text-center'>
        <div>
          <label class='control-label' >Du hast&nbsp</label>
          <label id='score' class='control-label' ></label>
          <label class='control-label' >&nbspFragen richtig beantwortet.</label><br/>
          <label class='control-label' >Weiterquizzen oder Abmelden über die Übersichtsseite. </label>
        </div>
      </div>
    <%else%>
      <div class='row text-center'>
        <div>
          <label class='control-label' >Vielen Dank!<br/>Weiterquizzen oder Abmelden über die Übersichtsseite.</label>
        </div>
      </div>
    <%end%>
  </p>
</div>
<br><br>
<br><br>
<div class='row text-center'>
  <div class='col-md-4 col-md-offset-4'>
    <button id='geschafft' type='button' class='btn questButton btn-primary btn-block'>Zur Übersichtsseite</button>
  </div>
</div>
<script>
  $('#geschafft').click(function(){
    window.location.replace(pathMainPage);
  });

  var survey_done = {"student": {"survey_done": "true"}};
  $.ajax({
      method: 'PUT',
      url: "<%= user_group_student_path(@student.group.user, @student.group, @student)%>",
      data: survey_done,
  });

  //F5 abschalten <- kein aktualisieren möglich
  $(window).keydown(function (event) {
      var key = event.charCode || event.keyCode;
      if (key == 116) {
          event.preventDefault();
      }});

</script>