</br></br></br></br></br></br>
<div style="font-size:2.2em" align="center">Vielen Dank für deine Teilnahme an der Umfrage!</div>
<br><br>
<br><br>
<div class='row text-center'>
  <div class='col-md-4 col-md-offset-4'>
    <button id='geschafft' type='button' class='btn questButton btn-primary btn-block'>Zur Übersichtsseite</button>
  </div>
</div>
<script>
  $('#geschafft').click(function(){
    window.location.replace(pathMainPage);
  });

  var survey_done = {"student": {"survey_done": "true"}};
  $.ajax({
      method: 'PUT',
      url: "<%= user_group_student_path(@student.group.user, @student.group, @student)%>",
      data: survey_done,
  });

  //F5 abschalten <- kein aktualisieren möglich
  $(window).keydown(function (event) {
      var key = event.charCode || event.keyCode;
      if (key == 116) {
          event.preventDefault();
      }});

</script>