<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Hallo,<br>
  Warum testest du dein Wissen nicht nochmal bei 1-2 Tests.
  Dein Login-Code für <b>Quizmos</b> ist:<br/>
  <b><%= @code %></b><br/>
  Auf die Seite kommt du wieder über den folgenden Link:<br/>
  <b><a href="https://www.w3schools.com/html/">Quizmos</a></b><br/>
  Wir freuen uns, dass du die Plattform nutzt und wünschen dir noch viel Spaß dabei :)

  PS: Jeder Test ist mehrfach ausführbar ;)
</p>
</body>
</html>
