<div class="well">
  <h1>Quizmos</h1>
  <p class="text-justify">
    Die Plattform Quizmos ist im Rahmen eines Seminars an der Christian-Albrechts-Universität zu Kiel entstanden.<br/>
    Die Plattform soll dabei unterstützend für Studien wirken und den generellen Ablauf einer Studie vereinfachen.<br/><br/>

  </p>
  <h3>Kontakt</h3>
  <p>
    Bei inhaltlichen oder technischen Fragen wenden Sie sich bitte an <a href="mailto:A.Mazarakis@zbw.eu">Athanasios Mazarakis</a>
  </p>
</div>
