<!--
Einverständniserkläung für Studienleiter
-->
<nav class="navbar">
</nav>

<div class="container-fluid">
  <div id="content">
    <div class="jumbotron">
      <h2>Einverständnis</h2>
      <p>
        Hiermit bestätige ich, dass ich für alle Daten, die ich von Probanden mit Hilfe dieser Plattform erhebe, die nötige Berechtigung eingeholt habe.
      </p>
      <p>
        Bei Fragen wenden Sie sich bitte an <a href="mailto:A.Mazarakis@zbw.eu">A.Mazarakis@zbw.eu</a>.
      </p>
      <%= form_tag(url_for(:controller => 'application', :action => 'accept'), :class => "form") do %>
          <%= submit_tag 'Bestätigen und Weiter', :class => "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>


